<div id="main">
  <div id="hi">
    <div id="navbar">
      <h1 id="tawsilatext">
     
        <a href="../" class="sidebar-logo">Wassalni</a>

      </h1>
      <div id="firstnavblock">

          

      </div>
      <div id="secondnavblock" style="margin-left: 80%;">
       

        <div class="dropdown dropdown-profile ms-3 ms-xl-4">
          <a href="" class="dropdown-link" data-bs-toggle="dropdown" data-bs-auto-close="outside"><div class="avatar online"><img src="https://img.freepik.com/free-photo/view-3d-confident-businessman_23-2150709932.jpg?t=st=1702632110~exp=1702635710~hmac=fd0be839be0320b8ebdda5c8d34daad2e8ae8980ccba1c7c4e7173921cbc795a&w=740" alt=""></div></a>
          <div class="dropdown-menu dropdown-menu-end mt-10-f">
            <div class="dropdown-menu-body">
              <div class="avatar avatar-xl online mb-3"><img src="https://img.freepik.com/free-photo/view-3d-confident-businessman_23-2150709932.jpg?t=st=1702632110~exp=1702635710~hmac=fd0be839be0320b8ebdda5c8d34daad2e8ae8980ccba1c7c4e7173921cbc795a&w=740" alt=""></div>
              <h5 class="mb-1 text-dark fw-semibold"> {{username}}</h5>
              <p class="fs-sm text-secondary">Client Member</p>
    
    
              <hr>
              <nav class="nav">
    
                <a href=""><i class="ri-user-settings-line"></i> Account Settings</a>
                <a (click)="logout()">
                  <i class="ri-logout-box-r-line"></i> Log Out
                </a>
              </nav>
            </div><!-- dropdown-menu-body -->
          </div><!-- dropdown-menu -->
      </div><!-- dropdown -->
    </div><!-- header-main -->


      </div>
    </div>
    <div id="firstphoto">
      <img
        src="../../../assets/assets/img/client_accueil/Capture.PNG"
        alt=""
        id="firstphoto1"
      />
    </div>
    <div id="forumRecherche">
      <form>
        <input
          type="text"
          id="departure"
          name="departure"
          placeholder="Enter departure location"
        />
        <input
          type="text"
          id="destination"
          name="destination"
          placeholder="Enter destination location"
        />
        <input type="date" id="date" name="date" />
        <button type="button" class="search-btn" (click)="search()">Search</button>
      </form>
    </div>
    <div id="content">
      <div class="content-item">
        <img src="../../../assets/assets/img/client_accueil/photo1.PNG" alt="Photo 1" />
        <div class="text-content">
          <p>
            100 € de Prime Covoiturage sur BlaBlaCar jusqu’au 31/12/2023 !
            <br />Conducteurs, conductrices, bénéficiez de la Prime Covoiturage
            avant qu’il ne soit trop tard en réalisant 3 covoiturages en 3 mois,
            sous conditions d'éligibilité.
          </p>
          <button type="button" class="buttont">en savoir plus</button>
        </div>
      </div>

      <div class="content-item">
        <div class="text-content">
          <p>
            Doublez votre Prime Covoiturage de 100 € avec BlaBlaCar Daily Vous
            prenez la route tous les jours ? Bonne nouvelle ! Recevez 100 € de
            Prime Covoiturage en covoiturant 10 trajets en 3 mois* avec BlaBlaCar
            Daily. <br />
            * Valable à partir du 1er Janvier 2023 sous conditions d'éligibilité.
          </p>
          <button type="button" class="buttont">decouvrir tawsila Daily</button>
        </div>
        <img src="../../../assets/assets/img/client_accueil/photo2.PNG" alt="Photo 2" />
      </div>
    </div>
  </div>
