<div id="main">
  <div id="hi">
  <!-- client-acceuil.component.html -->
<app-navbar></app-navbar>
    <div id="firstphoto">
      <img
        src="../../../assets/assets/img/client_accueil/Capture.PNG"
        alt=""
        id="firstphoto1"
      />
    </div>
    <div id="forumRecherche">
      <!-- interface-client.component.html -->

<form [formGroup]="searchForm" (ngSubmit)="search()">
  <input type="text" formControlName="source" placeholder="Enter source location" />
  <input type="text" formControlName="destination" placeholder="Enter destination location" />
  <input type="date" id="date" name="date" />

  <button type="submit" class="search-btn">Search</button>
</form>
    </div>
    <div id="content">
      <div class="content-item">
        <img src="../../../assets/assets/img/client_accueil/photo1.PNG" alt="Photo 1" />
        <div class="text-content">
          <p>
            100 € de Prime Covoiturage sur BlaBlaCar jusqu’au 31/12/2023 !
            <br />Conducteurs, conductrices, bénéficiez de la Prime Covoiturage
            avant qu’il ne soit trop tard en réalisant 3 covoiturages en 3 mois,
            sous conditions d'éligibilité.
          </p>
          <button type="button" class="buttont">en savoir plus</button>
        </div>
      </div>

      <div class="content-item">
        <div class="text-content">
          <p>
            Doublez votre Prime Covoiturage de 100 € avec BlaBlaCar Daily Vous
            prenez la route tous les jours ? Bonne nouvelle ! Recevez 100 € de
            Prime Covoiturage en covoiturant 10 trajets en 3 mois* avec BlaBlaCar
            Daily. <br />
            * Valable à partir du 1er Janvier 2023 sous conditions d'éligibilité.
          </p>
          <button type="button" class="buttont">decouvrir tawsila Daily</button>
        </div>
        <img src="../../../assets/assets/img/client_accueil/photo2.PNG" alt="Photo 2" />
      </div>
    </div>
  </div>
